
body{
    font-family: 'Anton', sans-serif;
    background: url(../img/food/food.png);
}

header {
    text-align: center; 
    font-size: 50px;   
}

.row {
    margin: 10px;
}

.col-md {
    margin: 20px;
}

h2 {
    text-align: center;
}
